<h1>Blogs</h1>


<a routerLink="/blogs/new" class="btn btn-success">New Blog</a>

<div class="col-md-offset-6">

  <select [(ngModel)]="pageSize">
    <optgroup>
      <option>5</option>
      <option>10</option>
      <option>20</option>
      <option>50</option>
      <option>100</option>
    </optgroup>
  </select>

  <button [disabled]="pageIndex===0" class="btn btn-primary" (click)="prev()">
      Prev
    </button>

  <button class="btn btn-primary" (click)="next()">
      Next
    </button>
</div>


<div class="col-md-8">
  <div *ngIf="failed" class="alert alert-danger">
    Failed to load data. Please try again
  </div>
  <div class="well" *ngFor="let blog of blogs | slice:0:3">
    <app-blog [blog]="blog"></app-blog>
  </div>
</div>

<!--
<div class="col-md-5">
  <div class="well" *ngFor="let user of users">
    <h3>{{user.login}}</h3>
    <img class="img img-circle" [src]="user.avatar_url" width="150" height="150" />
  </div>
</div>-->