<h1>Blogs</h1>

<div class="row">

  <div *ngIf="saveFailed" class="alert alert-danger">Failed to save data</div>
  <div *ngIf="saveSuccess" class="alert alert-success">Successfully saved!!</div>

  <form novalidate #frm="ngForm">
    <div class="col-md-4">
      <h3>Add new blog post</h3>

      <!--<div class="form-group">
        <input type="text" placeholder="PhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" #ctrlPhone="ngModel" [(ngModel)]="blog.phoneNumber" name="phone"/>
        <span *ngIf="ctrlPhone.invalid" class="text-danger">Invalid Phonenumber</span>
      </div>-->

      <div class="form-group">

        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="blog.title" name="title" required minlength="4"
          maxlength="10" #ctrlTitle="ngModel" />

        <span *ngIf="ctrlTitle.dirty && ctrlTitle.errors?.required" class="text-danger">Required</span>
        <span *ngIf="ctrlTitle.dirty && ctrlTitle.errors?.minlength" class="text-danger">Min 4 chars</span>
        <span *ngIf="ctrlTitle.dirty &&  ctrlTitle.errors?.maxlength" class="text-danger">Max 10 chars</span>

       
<table class="table table-bordered">
  <tr>
    <td>Element</td>
    <td>Invalid</td>
    <td>Valid</td>
    <td>Pristine</td>
    <td>Dirty</td>
    <td>Touched</td>
  </tr>
  <tr>
    <td>Title</td>
    <td>{{ctrlTitle.invalid}}</td>
    <td>{{ctrlTitle.valid}}</td>
    <td>{{ctrlTitle.pristine}}</td>
    <td>{{ctrlTitle.dirty}}</td>
    <td>{{ctrlTitle.touched}}</td>
  </tr>
</table>


      </div>
      <div class="form-group">
        <textarea placeholder="Content" class="form-control" rows="5" cols="50" [(ngModel)]="blog.content" name="content" required
          #ctrlContent="ngModel"></textarea>

        <span *ngIf="ctrlContent.touched && ctrlContent.invalid" class="text-danger">Required</span>
      </div>
      <div class="form-group">
        Publish <input type="checkbox" [(ngModel)]="blog.published" name="published" />
      </div>


      <div class="form-group">
        <button [disabled]="frm.invalid" class="btn btn-danger" (click)="onSave(frm)">Add New Post</button>
      </div>

    </div>
  </form>
</div>


<div class="col-md-offset-6">

  <select [(ngModel)]="pageSize">
    <optgroup>
      <option>5</option>
      <option>10</option>
      <option>20</option>
      <option>50</option>
      <option>100</option>
    </optgroup>
  </select>

  <button [disabled]="pageIndex===0" class="btn btn-primary" (click)="prev()">
      Prev
    </button>

  <button class="btn btn-primary" (click)="next()">
      Next
    </button>
</div>


<div class="col-md-8">
  <div *ngIf="failed" class="alert alert-danger">
    Failed to load data. Please try again
  </div>
  <div class="well" *ngFor="let blog of blogs | slice:0:3">
    <app-blog [blog]="blog"></app-blog>
  </div>
</div>

<!--
<div class="col-md-5">
  <div class="well" *ngFor="let user of users">
    <h3>{{user.login}}</h3>
    <img class="img img-circle" [src]="user.avatar_url" width="150" height="150" />
  </div>
</div>-->