/* You can add global styles to this file, and also import other style files */
.red{
    background-color:red;
}
.border{
    border:3px solid black;
}

input.ng-invalid,
textarea.ng-invalid{
    border-left:3px solid brown;
}
input.ng-valid,
textarea.ng-valid{
    border-left:3px solid green;
}